{% extends "base.html" %}

{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="overlay1"></div>
<div class="error-pages shadow-orange">
    <h1>404 Error</h1>
    <p>The page you're looking for doesn't exist. Return to the home page below</p>
    <div>
        <i class="fa-solid fa-arrow-down"></i>
    </div>
    <div class="col-12">
        <a href="{% url 'home' %}" class="btn btn-outline-black rounded-0 mt-5">
            
            <span class="text-uppercase">Home Page</span>
        </a>
    </div>
</div>
{% endblock %}

